## Sorting lists

In [1]:
x= ["duck","aardvark","crocodile", "emu", "bee"]

In [2]:
x.sort()

In [3]:
x

['aardvark', 'bee', 'crocodile', 'duck', 'emu']

In [4]:
### sorted by descending order
sorted(x,reverse=True)

['emu', 'duck', 'crocodile', 'bee', 'aardvark']

In [ ]:
### sorted by second letter:
#sorted(x, key=??)

In [6]:
def get_second_letter(s):
    return s[1]

In [7]:
get_second_letter("cheese")

'h'

In [8]:
sorted(x,key=get_second_letter) #key is a parameter, value is a function:get_second_letter

['aardvark', 'bee', 'emu', 'crocodile', 'duck']

In [9]:
type(get_second_letter)

function

### lambda functions: a way of writing a function on a single line

In [10]:
# normal function: def nameofthefunction parameter: return expression
def get_second_letters(s):
    return s[1]

In [11]:
# the previous is the same as:
get_second_letter = lambda s:s[1]

In [12]:
type(lambda s:s[1])

function

In [13]:
print("hello")

hello

In [14]:
sorted(x,key=lambda s:s[1])

['aardvark', 'bee', 'emu', 'crocodile', 'duck']

### tuple("rhymes with supple")
#### tuple is a kind of like a strict kind of list

In [15]:
t= (5,10,15)

In [16]:
type(t)

tuple

In [17]:
t[0]

5

In [18]:
for item in t:
    print(item*item)

25
100
225

In [ ]:
#tuple is like a list but it can't be changed, it's called "immutable" data type
#one benefit is exactly that: it can't be changed.
#other benefit is that tuples are memory-efficient.

In [19]:
hello=[1,2,3]

In [20]:
foo=(1,2,3)

In [21]:
import sys
sys.getsizeof(hello)

64

In [22]:
sys.getsizeof(foo)

72

## back to regular expressions for a moment

### grouping with multiple matches in the same string

In [23]:
import re
test="one 1 two 2 three 3 four 4 five 5"
re.findall(r"\w+ \d",test)

['one 1', 'two 2', 'three 3', 'four 4', 'five 5']

In [24]:
for item in re.findall(r"\w+ \d",test):
    x=item.split("")
    print(x[0])
    print(x[1])

ValueError: empty separator

In [25]:
test="one 1 two 2 three 3 four 4 five 5"
re.findall(r"(\w+) (\d)",test)

[('one', '1'), ('two', '2'), ('three', '3'), ('four', '4'), ('five', '5')]

In [26]:
all_subjects = open("enronsubjects.txt").read()

In [27]:
for item in re.findall(r"(\d{3})-(\d{3})-(\d{4})", all_subjects):
    print item[0]

SyntaxError: Missing parentheses in call to 'print' (<ipython-input-27-e98f897521d3>, line 2)

In [28]:
[item[0] for item in re.findall(r"(\d{3})-(\d{3})-(\d{4})", all_subjects)]

['713',
 '713',
 '713',
 '713',
 '713',
 '713',
 '713',
 '713',
 '713',
 '713',
 '713',
 '281',
 '713',
 '713',
 '713',
 '713',
 '713',
 '713',
 '281',
 '713',
 '713',
 '713',
 '614',
 '713',
 '303',
 '281',
 '800',
 '800',
 '888']

### monetary amounts in the subject lines
match something like $10 m, k, b

In [29]:
re.findall(r"\$(\d+) ?(\w+)", all_subjects)

[('22', '8'),
 ('22', '8'),
 ('10', 'M'),
 ('10', 'M'),
 ('10', 'M'),
 ('10', 'M'),
 ('6', '8'),
 ('25', 'million'),
 ('25', 'million'),
 ('25', 'million'),
 ('25', 'million'),
 ('25', 'million'),
 ('25', 'million'),
 ('25', 'million'),
 ('25', 'million'),
 ('25', 'million'),
 ('25', 'million'),
 ('25', 'million'),
 ('25', 'million'),
 ('25', 'million'),
 ('25', 'million'),
 ('82', '0'),
 ('82', '0'),
 ('40', 'Million'),
 ('27', 'Billion'),
 ('27', 'Billion'),
 ('5', '0'),
 ('5', '0'),
 ('89', '5'),
 ('89', '5'),
 ('1', '9'),
 ('1', '9'),
 ('1', '9'),
 ('1', '9'),
 ('870', 'K'),
 ('870', 'K'),
 ('14', '1'),
 ('14', '1'),
 ('21', 'billion'),
 ('6', 'million'),
 ('14', 'bln'),
 ('14', 'bln'),
 ('100', 'PRICE'),
 ('250', 'Cap'),
 ('350', 'MM'),
 ('1', '2'),
 ('1', '2'),
 ('1', '2'),
 ('1', '2'),
 ('10', 'Three'),
 ('70', '0'),
 ('70', '0'),
 ('70', '0'),
 ('10', 'you'),
 ('10', 'you'),
 ('13', 'B'),
 ('13', 'B'),
 ('100', 'on'),
 ('500', 'k'),
 ('500', 'k'),
 ('500', 'k'),
 ('500', 'k'),
 ('500', 'k'),
 ('500', 'k'),
 ('500', 'k'),
 ('500', 'k'),
 ('500', 'k'),
 ('2', 'Billion'),
 ('2', 'Billion'),
 ('2', 'Billion'),
 ('2', 'Billion'),
 ('97', '1'),
 ('97', '1'),
 ('97', '1'),
 ('97', '1'),
 ('97', '1'),
 ('97', '1'),
 ('1', 'Billion'),
 ('1', 'Billion'),
 ('39', 'in'),
 ('39', 'in'),
 ('1', '0'),
 ('1', '0'),
 ('14', '9'),
 ('5', '0'),
 ('5', '0'),
 ('5', '0'),
 ('2', '1'),
 ('21', 'P'),
 ('550', 'Million'),
 ('455', 'Million'),
 ('5', 'million'),
 ('5', 'million'),
 ('5', 'million'),
 ('7', 'MM'),
 ('7', 'MM'),
 ('7', 'MM'),
 ('7', 'MM'),
 ('7', 'MM'),
 ('7', 'MM'),
 ('100', 'Price'),
 ('2', '0'),
 ('2', '0'),
 ('2', '0'),
 ('2', '0'),
 ('10', '0'),
 ('10', '0'),
 ('10', '0'),
 ('2', '0'),
 ('2', '0'),
 ('2', '9'),
 ('2', '9'),
 ('2', '9'),
 ('2', '9'),
 ('2', '9'),
 ('2', '9'),
 ('160', '0'),
 ('160', '0'),
 ('160', '0'),
 ('160', '0'),
 ('160', '0'),
 ('160', '0'),
 ('160', '0'),
 ('2', 'Billion'),
 ('2', 'Billion'),
 ('2', 'Billion'),
 ('6', '7'),
 ('100', 'mil'),
 ('50', 'per'),
 ('21', '2'),
 ('21', '2'),
 ('21', '2'),
 ('21', '2'),
 ('21', '2'),
 ('21', '2'),
 ('19', '5'),
 ('19', '5'),
 ('19', '5'),
 ('19', '5'),
 ('19', '5'),
 ('19', '5'),
 ('19', '5'),
 ('19', '5'),
 ('19', '5'),
 ('19', '5'),
 ('19', '5'),
 ('19', '5'),
 ('4', '2'),
 ('4', '2'),
 ('4', '2'),
 ('7', 'MM'),
 ('7', 'MM'),
 ('7', 'MM'),
 ('1', '0'),
 ('1', '0'),
 ('1', '6'),
 ('1', '6'),
 ('1', '6'),
 ('8', 'Million'),
 ('8', 'Million'),
 ('500', 'mm'),
 ('500', 'mm'),
 ('500', 'mm'),
 ('80', 'million'),
 ('80', 'million'),
 ('80', 'million'),
 ('80', 'million'),
 ('80', 'million'),
 ('80', 'million'),
 ('80', 'million'),
 ('50', 'M'),
 ('102', 'Target'),
 ('102', 'Target'),
 ('20', '0'),
 ('5', '0'),
 ('25', 'Million'),
 ('25', 'Million'),
 ('25', 'Million'),
 ('120', 'EXTRA'),
 ('120', 'EXTRA'),
 ('45', 'Million'),
 ('45', 'Million'),
 ('14', '7'),
 ('14', '7'),
 ('14', '7'),
 ('14', '7'),
 ('14', '7'),
 ('14', '7'),
 ('14', '7'),
 ('600', 'B'),
 ('600', 'B'),
 ('14', '7'),
 ('14', '7'),
 ('14', '7'),
 ('24', '0'),
 ('24', '0'),
 ('2', '2'),
 ('2', '2'),
 ('2', '2'),
 ('100', 'k'),
 ('7', '7'),
 ('18', '3'),
 ('130', 'Million'),
 ('130', 'Million'),
 ('130', 'Million'),
 ('1', 'mm'),
 ('1', '0'),
 ('1', '0'),
 ('1', '0'),
 ('1', '0'),
 ('1', '0'),
 ('1', '0'),
 ('128', 'Return'),
 ('128', 'Return')]

In [30]:
vals=[]
for item in re.findall(r"\$(\d+) ?([mMbBkK])", all_subjects):
    multiplier=item[1].lower()
    number_val=int(item[0])
    if multiplier=='k':
        number_val *= 1000
    elif multiplier=='m':
        number_val *= 1000000
    elif multiplier=='b':
        number_val *= 1000000000
    vals.append(number_val)
sum(vals)

1349657340000

### substitution with regular expressions

In [31]:
message = "this is a test, this is only a test"

In [32]:
message.replace("this","that").replace("test","walrus") #.replace() replace part of a string

'that is a walrus, that is only a walrus'

In [33]:
re.findall(r"\d{3}-\d{3}-\d{4}", all_subjects)

['713-853-4743',
 '713-222-7667',
 '713-222-7667',
 '713-222-7667',
 '713-222-7667',
 '713-222-7667',
 '713-222-7667',
 '713-222-7667',
 '713-222-7667',
 '713-222-7667',
 '713-222-7667',
 '281-296-0573',
 '713-851-2499',
 '713-345-7896',
 '713-345-7896',
 '713-345-7896',
 '713-345-7896',
 '713-345-7896',
 '281-367-8953',
 '713-528-0759',
 '713-850-9002',
 '713-703-8294',
 '614-888-9588',
 '713-767-8686',
 '303-571-6135',
 '281-537-9334',
 '800-937-6563',
 '800-937-6563',
 '888-296-1938']

In [34]:
message="This is a test; this is only a test."
re.sub(r"[Tt]his", "that", message) #.sub():substitute a pattern

'that is a test; that is only a test.'

In [35]:
re.sub(r"\b\w+\b", "WALRUS", message)

'WALRUS WALRUS WALRUS WALRUS; WALRUS WALRUS WALRUS WALRUS WALRUS.'

In [36]:
anon = re.sub(r"\d{3}-\d{3}-\d{4}", "555-555-5555", all_subjects)

In [37]:
re.findall(r".{,20}\d{3}-\d{3}-\d{4}.{,20}",anon)

['Call Chris 555-555-5555',
 "git's Contact Info: 555-555-5555",
 "git's Contact Info: 555-555-5555",
 "git's Contact Info: 555-555-5555",
 "git's Contact Info: 555-555-5555",
 "git's Contact Info: 555-555-5555",
 "git's Contact Info: 555-555-5555",
 "git's Contact Info: 555-555-5555",
 "git's Contact Info: 555-555-5555",
 "git's Contact Info: 555-555-5555",
 "git's Contact Info: 555-555-5555",
 'Terry 555-555-5555',
 'Re: 555-555-5555',
 "W: Mark's number is 555-555-5555",
 "E: Mark's number is 555-555-5555",
 "Mark's number is 555-555-5555",
 "E: Mark's number is 555-555-5555",
 "Mark's number is 555-555-5555",
 'ease call for map 1-555-555-5555 or',
 'Bill F 555-555-5555',
 ' Jonathon Fairbanks 555-555-5555w/555-555-5555c and ',
 'irk re CGAS lawsuit 555-555-5555',
 ' Johnston at Dynegy 555-555-5555 re Debbie Chance',
 'data /Tracy Ashmore-555-555-5555',
 'Re: Kaye Ellis - 555-555-5555 (home)',
 'n Paper Conf Call 1-555-555-5555,',
 'O policies.  Dial 1-555-555-5555 and ask for the Jul',
 'nf Call (Alvarez) 1-555-555-5555, HC:']

In [38]:
anon = re.sub(r"(\d{3}-\d{3}-\d{4}", r"\1-\2-XXXX", all_subjects)

error: invalid group reference

## HTML to SQL

In [39]:
from urllib.request import urlretrieve
urlretrieve("https://raw.githubusercontent.com/ledeprogram/data-and-databases/master/menupages-morningside-heights.html")

('/var/folders/zh/j6d1c6bx17jcmkyybqlcnjlm0000gn/T/tmppmlortqa',
 <http.client.HTTPMessage at 0x108001e80>)

In [40]:
#urlretrieve(url, filename)

NameError: name 'url' is not defined

store:
* restaurant name
* price ($
* cuisine

research phase:
* every restaurant has a <tr> that is a child of the <table> tag with class search-results
* restaurants are in <td> tags with class name-address
* restaurant names are in an <a> tag inside that <td> tag
* restaurant price in a span inside a <td> tag with class price
* the cuisine of the restaurant is in a <td> tag with no class, the fifth <td> tag that is a child of the restaurant's <tr>'

targets:
* list of dictionaries
   [ 
      {'name':"Brad's, 'price': 1,'cuisine':['coffee']}, 
      {'name':"Cafe Nana", 'price':0, 'cuisines':['Middle Eastern','Kosher']},
      ...
   ]

In [41]:
from bs4 import BeautifulSoup

In [46]:
raw_html = open("menupages-morningside-heights.html").read()
soup = BeautifulSoup(raw_html, "html.parser")

In [52]:
#just the name
search_table=soup.find("table", {'class':'search-results'})
table_body=search_table.find('tbody')
for tr_tag in table_body.find_all('tr'):
    name_address_tag = tr_tag.find('td', {'class':'name-address'})
    a_tag = name_address_tag.find('a')
    print(a_tag.string)

Milano Market
Massawa
China Place
Subsconscious
Famous Famiglia
Kitchenette
V & T Pizza
New Aroma
Peking Garden
Tom's Restaurant
Pisticci
Deluxe
Toast
Tom's Delicious Pizza
West Place
Che' Bella Pizza
Ajanta
Panino Sportivo Roma
Max Soha
Strokos Pizza
Camille's
Amsterdam Restaurant
Nussbaum & Wu
Amir's Grill
M2M - Morning To Midnight
The Mill
Le Monde
Melba's
Chuck E Cheese's
Haagen-Dazs
Oren's
Dinosaur Bar-B-Que
Symposium Greek Restaurant
Koronet Pizza
The Heights Bar & Grill
Cafe Nana
Hamilton Deli
Community Food & Juice
Haakon's Hall
El Porton
Brad's
Mel's Burger Bar
Bettolona
Five Guys
Nikko
Falafel on Broadway
Sushi Sushi
Insomnia Cookies
Cafe Amrita
Pinkberry
Artopolis Espresso Cafe
Max Caffe
Chipotle
Chokolat Patisserie
Chokolat Patisserie
Joe's G-H Deli
Joe the Art of Coffee
Levain Bakery
Silvana
Bier International
Vegenation
Flat Top
Kuro Kuma
Vinateria
Henan Cart
Vine
El Paso Truck
Mama's Fried Chicken and Pizza
Chapati House
Dig Inn Seasonal Market
Uncle Luoyang
Pita Grill
Kissaten Jin
Serengeti Teas & Spices
Lighthouse Fish Market & Restaurant
Lolo's Seafood Shack
Harmony
Bernheim & Schwartz
BTH (By The Hudson)
Empanadas Monumental
Friedman's
176 Presbyterian Deli
Nacho Mama's
Streetbird Rotisserie
Colum Chinese Restaurant
Flacoz Tacoz
sweetgreen
La Salle Dumpling Room

In [53]:
search_table=soup.find("table", {'class':'search-results'})
table_body=search_table.find('tbody')
for tr_tag in table_body.find_all('tr'):
    # get the restaurant name from the a inside a td
    name_address_tag = tr_tag.find('td', {'class':'name-address'})
    a_tag = name_address_tag.find('a')
    restaurant_name=a_tag.string
    #get the price from the span if present
    price_tag = tr_tag.find('td', {'class':'price'})
    price_span_tag = price_tag.find('span')
    if price_span_tag:
        price=int(price_span_tag.string)
    else:
        price=0
    print(restaurant_name, price)

Milano Market 2
Massawa 0
China Place 0
Subsconscious 0
Famous Famiglia 0
Kitchenette 0
V & T Pizza 0
New Aroma 1
Peking Garden 1
Tom's Restaurant 1
Pisticci 1
Deluxe 1
Toast 2
Tom's Delicious Pizza 2
West Place 1
Che' Bella Pizza 0
Ajanta 0
Panino Sportivo Roma 2
Max Soha 2
Strokos Pizza 3
Camille's 1
Amsterdam Restaurant 1
Nussbaum & Wu 0
Amir's Grill 1
M2M - Morning To Midnight 1
The Mill 2
Le Monde 1
Melba's 1
Chuck E Cheese's 0
Haagen-Dazs 1
Oren's 0
Dinosaur Bar-B-Que 3
Symposium Greek Restaurant 0
Koronet Pizza 1
The Heights Bar & Grill 1
Cafe Nana 0
Hamilton Deli 0
Community Food & Juice 0
Haakon's Hall 0
El Porton 0
Brad's 1
Mel's Burger Bar 2
Bettolona 1
Five Guys 1
Nikko 2
Falafel on Broadway 1
Sushi Sushi 1
Insomnia Cookies 1
Cafe Amrita 1
Pinkberry 2
Artopolis Espresso Cafe 1
Max Caffe 2
Chipotle 1
Chokolat Patisserie 5
Chokolat Patisserie 1
Joe's G-H Deli 2
Joe the Art of Coffee 1
Levain Bakery 2
Silvana 1
Bier International 1
Vegenation 1
Flat Top 4
Kuro Kuma 1
Vinateria 2
Henan Cart 1
Vine 2
El Paso Truck 1
Mama's Fried Chicken and Pizza 1
Chapati House 2
Dig Inn Seasonal Market 1
Uncle Luoyang 1
Pita Grill 2
Kissaten Jin 1
Serengeti Teas & Spices 2
Lighthouse Fish Market & Restaurant 3
Lolo's Seafood Shack 2
Harmony 1
Bernheim & Schwartz 2
BTH (By The Hudson) 3
Empanadas Monumental 0
Friedman's 0
176 Presbyterian Deli 0
Nacho Mama's 0
Streetbird Rotisserie 0
Colum Chinese Restaurant 0
Flacoz Tacoz 0
sweetgreen 0
La Salle Dumpling Room 0

In [ ]:
def get_name(tag):
    return"TEST RESTAURANT"
def get_price(tag):
    return"999999"

In [58]:
search_table=soup.find("table", {'class':'search-results'})
table_body=search_table.find('tbody')
for tr_tag in table_body.find_all('tr'):
    restaurant_name = get_name(tr_tag)
    price = get_price(tr_tag)
    print(restaurant_name, price)

Milano Market 2
Massawa 0
China Place 0
Subsconscious 0
Famous Famiglia 0
Kitchenette 0
V & T Pizza 0
New Aroma 1
Peking Garden 1
Tom's Restaurant 1
Pisticci 1
Deluxe 1
Toast 2
Tom's Delicious Pizza 2
West Place 1
Che' Bella Pizza 0
Ajanta 0
Panino Sportivo Roma 2
Max Soha 2
Strokos Pizza 3
Camille's 1
Amsterdam Restaurant 1
Nussbaum & Wu 0
Amir's Grill 1
M2M - Morning To Midnight 1
The Mill 2
Le Monde 1
Melba's 1
Chuck E Cheese's 0
Haagen-Dazs 1
Oren's 0
Dinosaur Bar-B-Que 3
Symposium Greek Restaurant 0
Koronet Pizza 1
The Heights Bar & Grill 1
Cafe Nana 0
Hamilton Deli 0
Community Food & Juice 0
Haakon's Hall 0
El Porton 0
Brad's 1
Mel's Burger Bar 2
Bettolona 1
Five Guys 1
Nikko 2
Falafel on Broadway 1
Sushi Sushi 1
Insomnia Cookies 1
Cafe Amrita 1
Pinkberry 2
Artopolis Espresso Cafe 1
Max Caffe 2
Chipotle 1
Chokolat Patisserie 5
Chokolat Patisserie 1
Joe's G-H Deli 2
Joe the Art of Coffee 1
Levain Bakery 2
Silvana 1
Bier International 1
Vegenation 1
Flat Top 4
Kuro Kuma 1
Vinateria 2
Henan Cart 1
Vine 2
El Paso Truck 1
Mama's Fried Chicken and Pizza 1
Chapati House 2
Dig Inn Seasonal Market 1
Uncle Luoyang 1
Pita Grill 2
Kissaten Jin 1
Serengeti Teas & Spices 2
Lighthouse Fish Market & Restaurant 3
Lolo's Seafood Shack 2
Harmony 1
Bernheim & Schwartz 2
BTH (By The Hudson) 3
Empanadas Monumental 0
Friedman's 0
176 Presbyterian Deli 0
Nacho Mama's 0
Streetbird Rotisserie 0
Colum Chinese Restaurant 0
Flacoz Tacoz 0
sweetgreen 0
La Salle Dumpling Room 0

In [59]:
def get_name(tr_tag):
    name_address_tag = tr_tag.find('td', {'class':'name-address'})
    a_tag = name_address_tag.find('a')
    restaurant_name=a_tag.string
    return restaurant_name
def get_price(tr_tag):
    price_tag = tr_tag.find('td', {'class':'price'})
    price_span_tag = price_tag.find('span')
    if price_span_tag:
        price=int(price_span_tag.string)
    else:
        price=0
    return price
def get_cuisines(tr_tag):
    all_td_tags=tr_tag.find_all('td')
    cuisine_tag = all_td_tags[4]
    print(cuisine_tag)
    cuisines = cuisine_tag.string
    if cuisines:
        cuisines_list= cuisines.split(", ")
    else:
        cuisine_list=[]
    return cuisines_list

In [61]:
restaurants=[]
search_table=soup.find("table", {'class':'search-results'})
table_body=search_table.find('tbody')
for tr_tag in table_body.find_all('tr'):
    restaurant_name = get_name(tr_tag)
    price = get_price(tr_tag)
    cuisines=get_cuisines(tr_tag)
    rest_dict = {'name':restaurant_name, 'price':price, 'cuisines':cuisines}
    restaurants.append(rest_dict)
restaurants

<td>deli, sandwiches</td>
<td>ethiopian, african</td>
<td>chinese, japanese, sushi</td>
<td>cheese-steaks, deli, sandwiches, salads</td>
<td>italian, pizza</td>
<td>bakery-pastries, american, desserts</td>
<td>italian, pizza</td>
<td>chinese</td>
<td>chinese</td>
<td>diner</td>
<td>italian</td>
<td>diner, american</td>
<td>american, bar-food</td>
<td>italian, pizza</td>
<td>chinese</td>
<td>italian, pizza</td>
<td>indian</td>
<td>italian, coffee-tea, sandwiches</td>
<td>italian</td>
<td>deli, pizza, sandwiches, chicken</td>
<td>american</td>
<td>american-new, tapas</td>
<td>deli, sandwiches, bagels, salads</td>
<td>middle-eastern</td>
<td>japanese, sushi, deli, sandwiches</td>
<td>korean</td>
<td>french, bistro</td>
<td>american-new, soul-food</td>
<td>pizza, american</td>
<td>desserts</td>
<td>coffee-tea, sandwiches</td>
<td>barbecue, soul-food</td>
<td>greek, vegetarian</td>
<td>pizza</td>
<td>southwestern, tapas, bar-food</td>
<td>middle-eastern, kosher</td>
<td>deli, sandwiches</td>
<td>american-new, smoothies-juices, vegetarian, healthy, localorganic</td>
<td>american, scandinavian</td>
<td>mexican</td>
<td>coffee-tea</td>
<td>burgers, bar-food</td>
<td>italian, pizza, localorganic</td>
<td>burgers, hot-dogs</td>
<td>chinese, japanese, sushi, teahouses</td>
<td>middle-eastern</td>
<td>japanese, sushi</td>
<td>bakery-pastries, desserts</td>
<td>coffee-tea, sandwiches</td>
<td>desserts</td>
<td>coffee-tea, sandwiches, crepes</td>
<td>coffee-tea, sandwiches</td>
<td>mexican</td>
<td>bakery-pastries, desserts</td>
<td>bakery-pastries, coffee-tea, desserts</td>
<td>deli, sandwiches</td>
<td>coffee-tea</td>
<td>bakery-pastries, desserts</td>
<td>middle-eastern, vegetarian</td>
<td>german, eclectic, bar-food</td>
<td>indian, vegetarian</td>
<td>american-new, bistro</td>
<td>coffee-tea</td>
<td>american-new</td>
<td>chinese</td>
<td>japanese, sushi, thai</td>
<td>mexican</td>
<td>pizza, chicken</td>
<td>indian</td>
<td>american, localorganic</td>
<td>chinese</td>
<td>middle-eastern</td>
<td>japanese</td>
<td>coffee-tea, teahouses</td>
<td>seafood, wings, fish--chips</td>
<td>seafood</td>
<td>sandwiches, salads, teahouses</td>
<td>american, gastropub</td>
<td>american-new</td>
<td></td>

UnboundLocalError: local variable 'cuisines_list' referenced before assignment

In [ ]:
import pands as pd
df = pd.DataFrame(restaurants)